{% extends "base.html" %}
{% load static %}

{% block container %}
<div class="container mt-5">
    <h3>Detalles</h3>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Nombre</td>
                <td>{{object.nombre|title}}</td>
            </tr>
            <tr>
                <td>Ciudad/Departamento</td>
                <td>{{object.lugar|title}}</td>
            </tr>
            <tr>
                <td>Cedula</td>
                <td>{{object.nit_cedula}}</td>
            </tr>
            <tr>
                <td>Fecha</td>
                <td>{{object.fecha|date:"d/m/y"}}</td>
            </tr>
            <tr>
                <td>Dirección</td>
                <td>{{object.direccion}}</td>
            </tr>
            <tr>
                <td>Archivos</td>
                <td><a class="btn btn-info" href="{% url 'xml' object.id %}" role="button">XML</a>
                    <a class="btn btn-warning" href="{% url 'pdf' object.id %}" role="button">PDF</a>
                </td>
            </tr>
        </tbody>
    </table>
    <h3>Productos:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in object.productos.all %}
            <tr>
                <th scope="row">{{producto.nombre|title}}</th>
                <td>${{producto.precio}}</td>
                <td>{{producto.cantidad}}</td>
                <td>${{producto.total}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mt-3 d-flex flex-column align-items-center">
        <a class="btn btn-info" href="{% url 'home'%}" role="button">Regresar</a>
    </div>
</div>
{% endblock%}