{% extends "base.html" %}
{% load static %}

{% block container %}

<div class="container-fluid">
    <div class="mt-3 d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center panaderia rounded">
            <h1 class=" bg-info rounded">Panadería las delicias</h1>
            <h3 class="bg-info rounded">Cll 17 No. 1-49</h3>
            <h3 class="bg-info rounded">Sogamoso Boyaca</h3>
            <h3 class="bg-info rounded">Tel: 7704348</h3>
            <h3 class="bg-info rounded">NIT: 900.052.127-4</h3>
            <h3 class="bg-info rounded">REGIMEM COMUN</h3>
        </div>
        <div class="mt-5 d-flex flex-column align-items-center">
            <h3>Ver facturas creadas</h3>
            <a class="btn btn-primary" href="{% url 'home' %}" role="button">facturas</a>
            <h3>Crear una nueva factura</h3>
            <a class="btn btn-success" href="{% url 'createPerson'%}" role="button">Crear</a>
        </div>
    </div>
</div>

{% endblock%}