<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Factura {{persona.nombre}}</title>
    <style type="text/css">
        @page {
            size: A4;
            margin: 2cm;
        }

        th,
        td {
            padding: 10px;
        }
    </style>
</head>

<body>
    <img src="../static/img/panaderia.PNG" alt="">
    <table style="width:100%;padding: 10px;border: 1px solid black;margin: 10px;">
        <tr>
            <td>
                <h1>Fecha: {{persona.fecha}}</h1>
            </td>
            <td>
                <h1>Numero: {{persona.id}}</h1>
            </td>
        </tr>
        <tr>
            <td>
                <h1>Cuidad/Departamento: {{persona.lugar}}</h1>
            </td>
        </tr>
        <tr>
            <td>
                <h1>Cliete: {{persona.nombre|title}}</h1>
            </td>
            <td>
                <h1>Cedula: {{persona.nit_cedula}}</h1>
            </td>
        </tr>
        <tr>
            <td>
                <h1>Direccion: {{persona.direccion}}</h1>
            </td>
            <td>
                <h1>Celular: {{persona.telefono}}</h1>
            </td>
        </tr>
    </table>
    <h1 style="text-align: center">Productos: </h1>
    <table style="width:100%;border: 1px solid black">
        <tr>
            <th style="width=75px">
                <h2>Cantidad</h2>
            </th>
            <th>
                <h2>Nombre</h2>
            </th>
            <th>
                <h2>Valor unitario</h2>
            </th>
            <th>
                <h2>Valor total</h2>
            </th>
        </tr>
        {% for producto in products %}
        <tr>
            <td style="width=75px;text-align:center">
                <h2>{{producto.cantidad}}</h2>
            </td>
            <td style="text-align: center;">
                <h2>{{producto.nombre|title}}</h2>
            </td>
            <td style="text-align: center;">
                <h2>$ {{producto.precio}}</h2>
            </td>
            <td style="text-align: center;">
                <h2>$ {{producto.total}}</h2>
            </td>
        </tr>
        {% endfor %}
    </table>
    <table style="width:100%;border: 1px solid black;margin: 50px;">
        <tr>
            <td style="text-align: center;">
                <h2>Subtotal</h2>
            </td>
            <td style="text-align: center;">
                <h2>$ {{subtotal}}</h2>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <h2>IVA / 19%</h2>
            </td>
            <td style="text-align: center;">
                <h2>$ {{iva}}</h2>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <h2>Total</h2>
            </td>
            <td style="text-align: center;">
                <h2>$ {{total}}</h2>
            </td>
        </tr>
    </table>
</body>

</html>